<div class="modal-header" id="modal-header">
    <h1 class="modal-title" id="applicationModalLabel">{{currentProposal.name}}</h1>
    <button type="button" class="close" ng-click="cancel()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" id="modal-body">
    <form>
        <div class="form-group">
            <label for="student-name" class="col-form-label">Imię i nazwisko:</label>
            <input type="text" class="form-control" id="student-name" value="{{student.name}}" readonly>
        </div>
        <div class="form-group">
            <label for="album-id" class="col-form-label">ID Studenta:</label>
            <input type="text" class="form-control" id="album-id" value="{{student.ID}}" readonly>
        </div>
        <div class="form-group">
            <label for="study-course" class="col-form-label">Kurs:</label>
            <input type="text" class="form-control" id="study-course" value="{{student.course}}" readonly>
        </div>
        <div class="form-group">
            <label for="study-year" class="col-form-label">Rok studiów:</label>
            <input type="text" class="form-control" id="study-year" value="{{student.currentYear}}" readonly>
        </div>
        <div class="form-group">
            <label for="recipient" class="col-form-label">Odbiorca:</label>
            <textarea class="form-control" id="recipient" rows="4" readonly>{{sendTo}}
            </textarea>
        </div>
        <div class="form-group">
            <label for="date" class="col-form-label">Data i miejscowość:</label>
            <input type="text" class="form-control" id="date" value="Łódź, {{currentDate}}">
        </div>
        <div class="form-group">
            <label for="justification" class="col-form-label">Uzasadnienie:</label>
            <textarea class="form-control" id="justification" rows="4" ng-model="justification">

            </textarea>
        </div>
        <div class="form-group">
            <label for="attachments" class="col-form-label">Załączniki:</label>
            <input type="file" data-show-upload="true" data-show-caption="true" class="form-control" id="attachments" multiple ng-model="myfile" base-sixty-four-input>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" ng-click="cancel()">Anuluj</button>
    <button type="button" class="btn btn-primary" ng-click="submit()">Wyślij podanie</button>
</div>