<div class="container">
    <div class="row">
        <div class="col-lg mt-3">
            <div class="card border-primary">
                <div class="card-header"><h2>{{'AVAILABLE_PROPOSALS' | translate}}</h2></div>
                <div class="card-body">
                    <ul class="list-group-flush">
                        <li class="list-group-item" ng-repeat="proposal in proposals.proposals">
                            <div class="row justify-content-between"> 
                                <div class="col-9">
                                    <h3>{{proposal.name}}</h3>
                                </div>
                                <div class="col-3">
                                    <button type="button" data-toggle="applicationModal" ng-click="openModal(proposal)" data-target="applicationModal" class="btn btn-primary">{{'SUBMIT' | translate}}</button>
                                </div>
                            </div>
                        </li>
                      </ul>
                </div>
              </div> 
        </div>
    </div>
</div>

